<form id="form" action="/login" method="POST">
  <h1>Login page</h1>
  <label for="username">Username: </label>
  <input type="text" name="username" placeholder="Enter username" required><br><br>
  <label for="password">Password: </label>
  <input type="password" name="password" placeholder="Enter password" required><br><br>
  <button type="submit">Login</button>
  {{#if message}}
  <div id="error-message">
    {{message}}
  </div>
  {{/if}}
</form>

<!-- 'required' attribute = HTML 5 feature, user has to fill something in or cannot process further -->