<div id="full" class="bg-white shadow-lg">
  <div id="navigation">
    <nav class="nav-bar">
      <ul>
        <li><a href="/">TeamUp</a></li>
        <li><a href="/login">Login</a></li>
      </ul>
    </nav>
  </div>
  <div id="introduction">
    <h2>Do you want to play an indoor team sport in Berlin?</h1>
      <div id="zip-input">
        <h3>Find a hall near you:
    </h2>
    <div id="geocoder" class="geocoder"></div>
  </div>
</div>
<div id="map-container">
  <div id="map"></div>
</div>
<div id="hook">
  <h3>However, if you would like to play any kind of team sport, first you need a team.</h2>
</div>
<div id="advantages">
  <h3>With the help of TeamUp you can:</h2>
    <div id="keypoints">
      <div id="find-people">
        <img src="../images/find_sport_fans.png" />
        <p>Find sport fans</p>
      </div>
      <div id="build-team">
        <img src="../images/build_a_team.png" />
        <p>Build a team</p>
      </div>
      <div id="book-hall">
        <img src="../images/building.png" />
        <p>Book your hall</p>
      </div>
      <div id="have-fun">
        <img src="../images/have_fun_02.png" />
        <p>Have fun!</p>
      </div>
    </div>
</div>
<div id="entry">
  <div id="join">
    <a href="/signup" class="link-btn">Sign up</a>
    <a href="/login" class="link-btn">Login</a>
  </div>
  <div id="social-login">
    <a href="/auth/google"><img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/200px-Google_%22G%22_Logo.svg.png" />
      Login
    </a>
  </div>
</div>
<footer>
  <p>by Robert Bozsik, Phillip Paul | Ironhack 2020</p>
</footer>
</div>
<script>
  // MapBox start
  // basic MapBox for now
  // adapt newer code for iterating through database later
  mapboxgl.accessToken = "pk.eyJ1IjoicGhwYXVsODkiLCJhIjoiY2s5anB3dnAxMDBjdzNlcDk3ZXNjb2VqNiJ9.3F5ihEH6D8CIfUm_WN1yvw";
  let map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9',
    center: [13.4094191, 52.520815],
    zoom: 11
  });
  // MapBox end
  // add a GeoCoder
  let geocoder = new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl
  });

  document.getElementById("geocoder").appendChild(geocoder.onAdd(map));
</script>