{{#each allTeams}}
<form action="/join-team" method="POST">
  <label for="team">{{teamName}}</label>
  <button type="submit" name="team" value="{{teamName}}">+</button>
</form>
{{/each}}

<br><br>
<a href="/private">Go back</a>