<form id="form" action="/team-signup" method="POST">
  <h1>Team signup</h1>
  <label for="teamName">Team name: </label>
  <input type="text" name="teamName" placeholder="Add team name" required><br><br>
  <button type="submit">Sign up</button>
</form>