<div id="full" class="bg-white">
  <div id="navigation">
    <nav class="nav-bar">
      <ul>
        <li><a href="/">TeamUp</a></li>
        <li>
          <p>Hey, {{user.username}}</p>
        </li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
  </div>

  <div>
    <form action="/addfriends" method="POST">
      <label for="friend">Friend:</label>
      <input type="text" name="friend">
      <button type="submit">Add friend</button>
    </form>
  </div>
</div>