{{#each allUsers}}
<p>{{username}}</p>
{{/each}}

<a href="/private">Go back</a>

{{!-- <form action="/addfriends" method="POST">
  <label for="friend">Potential team member:</label>
  <input type="text" name="friend" value="{{friends.username}}">
  <button type="submit">Add as friend</button>
</form> --}}