{{#each allUsers}}


<form action="/addfriends" method="POST">
  <label for="friend">{{username}}</label>
  <button type="submit" name="friend" value="{{username}}">+</button>
</form>

{{/each}}

<a href="/private">Go back</a>

{{!-- <form action="/addfriends" method="POST">
  <label for="friend">Potential team member:</label>
  <input type="text" name="friend" value="{{friends.username}}">
  <button type="submit">Add as friend</button>
</form> --}}