<h1>Welcome {{user.username}}!</h1>


<div id="list-user">
  {{#each allUsers}}
  <p>{{username}}</p>
  {{/each}}
</div>

<div id="list-team">
  {{#each allTeams}}
  <p>{{teamName}}</p>
  {{/each}}
</div>

<!-- categories of sport arts to be added later -->